$primary-text-color: #ffffff;
$secondary-text-color: #000000;

$header-color: #151515;
$background-color: #222629;
$background-color-medium: #474b4f;
$background-color-light: #474b4f;
$highlight-color: #00d3a5;
$highlight-color-dark: #008f70;

$card-button-hover: rgb(75, 75, 75);
$card-button-color: rgb(35, 35, 35);