@import './_variables';


header {    
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    background-color: $feed-header-color;


    .title {
        width: 250px;
        margin-left: 25px;
    }

    .menu {
        display: flex;
        padding-inline-start: 0;
        width: 100%;
        align-content: flex-end;
        
    }

    .item {
        margin: 0 30px;
        list-style-type: none;

        a {
            color: $base-text-color;
        }
    }
}

#main {
    margin: 12px;
}