@import './_variables';

@font-face {
    font-family: 'Saros';
    src: url('../fonts/Saros-Regular.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

html {
    height: 100%;
    background-color: $background-color;
    color: $primary-text-color;
}

body {
    margin: 0;
    *:not(i){
        font-family:Saros, Arial, Helvetica, Sans-serif;
    }
}

a {
    color: $primary-text-color;
    text-decoration: none;
}

#main {
    margin: 0 20px;
    display: flex;
    justify-content: center;
}

h2 {
    background-color: $highlight-color;
    font-size: 28px;
    width: 100%;
    text-align: center;
    padding: 12px 0 12px 0;
    margin: 0 0 20px 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
